<!DOCTYPE html>
<html lang="br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspeção em lojas</title>
    <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css' ) }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css' ) }}">
</head>

<body>
    <div class="container">
        <h1>TITULO DA APLICACAO</h1>
        <hr>

        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="numeroProcesso" class="form-label">Numero Processo</label>
                            <input type="texto" class="form-control" id="numeroProcesso"
                                placeholder="Digite o numero do processo.">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="m2" class="form-label">M2</label>
                            <input type="texto" class="form-control" id="m2" placeholder="digite o valor da area.">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="m2" class="form-label">Data</label>
                            <input type="texto" class="form-control" id="m2" placeholder="digite o valor da area.">
                        </div>
                    </div>
                    <div class="col">
                        <label for="situacao" class="form-label">Situacao</label>
                        <select class="form-select mb-3" aria-label="Large select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <span class="input-group-text">Observacoes</span>
                            <textarea class="form-control" aria-label="With textarea"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Default radio
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                        value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Second default radio
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3"
                        value="option3" disabled>
                    <label class="form-check-label" for="exampleRadios3">
                        Disabled radio
                    </label>
                </div>
            </div>
        </div>


        <hr>

        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="numeroProcesso" class="form-label">Numero Processo</label>
                            <input type="texto" class="form-control" id="numeroProcesso"
                                placeholder="Digite o numero do processo.">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="m2" class="form-label">M2</label>
                            <input type="texto" class="form-control" id="m2" placeholder="digite o valor da area.">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="m2" class="form-label">Data</label>
                            <input type="texto" class="form-control" id="m2" placeholder="digite o valor da area.">
                        </div>
                    </div>
                    <div class="col">
                        <label for="situacao" class="form-label">Situacao</label>
                        <select class="form-select mb-3" aria-label="Large select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <span class="input-group-text">Observacoes</span>
                            <textarea class="form-control" aria-label="With textarea"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Default radio
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                        value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Second default radio
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3"
                        value="option3" disabled>
                    <label class="form-check-label" for="exampleRadios3">
                        Disabled radio
                    </label>
                </div>
            </div>
        </div>


        <hr>

        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="numeroProcesso" class="form-label">Numero Processo</label>
                            <input type="texto" class="form-control" id="numeroProcesso"
                                placeholder="Digite o numero do processo.">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="m2" class="form-label">M2</label>
                            <input type="texto" class="form-control" id="m2" placeholder="digite o valor da area.">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="m2" class="form-label">Data</label>
                            <input type="texto" class="form-control" id="m2" placeholder="digite o valor da area.">
                        </div>
                    </div>
                    <div class="col">
                        <label for="situacao" class="form-label">Situacao</label>
                        <select class="form-select mb-3" aria-label="Large select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <span class="input-group-text">Observacoes</span>
                            <textarea class="form-control" aria-label="With textarea"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Default radio
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                        value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Second default radio
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3"
                        value="option3" disabled>
                    <label class="form-check-label" for="exampleRadios3">
                        Disabled radio
                    </label>
                </div>
            </div>
        </div>
    </div>



    <script src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js' ) }}"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>